.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.page {
  padding: 70px 0 70px 0;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.clickDiv {
  cursor: pointer;
}

.clickDiv:hover {
  border: 3px solid #BBE100;
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background: #FAFFDA;
}

th {
  background: #DDEC92;
  padding: 12px;
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 10px 12px 10px 12px;
}

textarea {
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  height: 65px;
  width: 90%;
  border: 1px solid #D1EB50;
  border-radius: 3px;
}

.btn-green {
  background: green;
  color: white;
  border: 1px solid darkgreen;
}

.btn-black {
  background: #000;
  color: #fff;
  border: none;
}

.btn-orange {
  background: orange;
  border: none;
}

.btn-orange:hover {
  background: red;
}

.btn-plain {
  background: none;
  border: 1px solid darkgray;
}

.btn-plain:hover {
  background: #F2F2F2;
  color: #000;
}

.btn-bt {
  background: #D1EB50;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-bt:hover {
  background: #BBE100;
}

.bBlue {
  background: #93e1ff;
  border: 1px solid #93e1ff;
}

.bGreen {
  background: #DDEC92;
  border: 1px solid #DDEC92;
}

.cardItem {
  margin: 10px;
  width: 70%;
  border-radius: 4px;
}

.cardItemTitle {
  font-weight: bold;
  padding: 7px;
}

.cardItemInfo {
  padding: 7px;
}

.cardItemTime {
  font-weight: bold;
  font-size: 0.75em;
}

.dailyForms {
  border-radius: 5px;
  background: #F2FFAF;
  margin-top: 5px;
  padding: 20px;
  width: 75%;
  align-items: center;
}

.dailyForms input {
  border: 1px solid #BBE100;
}

.fullWidth {
  width: 100%;
}

.dailyFormsRow {
  width: 100%;
}

.indexArea {
  width: 100%;
}

.indexArea table {
  width: 80%;
}

#navBar {
  height: 60px;
}

.links {
  color: #000;
  text-decoration: none;
  height: 40px;
  width: auto;
  margin: 5px;
  padding: 10px;
}

.links:hover {
  background: #B3CE2C;
  color: #000;
}

.small-title {
  background: #F2FFAF;
  padding: 20px;
  border-radius: 3px;
  width: 75%;
  text-align: center;
  font-weight: bold;
}

.hidden-el {
  display: none;
}

.revealed-el {
  display: inline-block;
}

#main {
  min-height: 100vh;
  width: 100%;
}

#loading {
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  background: #000;
}

#imgLoading {
  width: 100px;
  height: auto;
}

#header {
  background: #D1EB50;
  height: 60px;
  width: 96%;
  position: fixed;
  top: 0;
  padding: 0 2% 0 2%;
  justify-content: space-between;
  z-index: 99;
}

#body {
  height: 85%;
  width: 100%;
}

#footer {
  background: #222;
  color: white;
  height: 10px;
  width: 100%;
  padding: 12px 0 12px 0;
  bottom: 0;
  position: fixed;
}

#loginArea {
  width: 100%;
}

#loginForm {
  flex-direction: column;
  height: auto;
  width: 40%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

#loginForm input {
  margin-top: 10px;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 85%;
}

@media (max-width: 600px) {
  .dailyFormsRow {
    flex-direction: column;
  }

  .links {
    padding: 0 7px 0 7px;
  }

  .page {
    padding: 60% 0 10% 0;
  }
  
  #header, #navBar {
     flex-direction: column;
     height: auto;
   }
}
