.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.page {
  min-height: 100vh;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background: #FAFFDA;
}

th {
  background: #DDEC92;
  padding: 12px;
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 10px 12px 10px 12px;
}

textarea {
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  height: 65px;
  width: 90%;
  border: 1px solid #D1EB50;
  border-radius: 3px;
}

.btn-green {
  background: green;
  color: white;
  border: 1px solid darkgreen;
}

.btn-black {
  background: #000;
  color: #fff;
  border: none;
}

.btn-orange {
  background: orange;
  border: none;
}

.btn-orange:hover {
  background: red;
}

.btn-plain {
  background: none;
  border: 1px solid darkgray;
}

.btn-plain:hover {
  background: #F2F2F2;
  color: #000;
}

.btn-bt {
  background: #D1EB50;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-bt:hover {
  background: #BBE100;
}

.dailyForms {
  border-radius: 5px;
  background: #F2FFAF;
  margin-top: 5px;
  padding: 20px;
  width: 75%;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.dailyFormsRow {
  width: 100%;
}

.indexArea {
  width: 100%;
}

.indexArea table {
  width: 80%;
}

#navBar {
  height: 60px;
}

.links {
  color: #000;
  text-decoration: none;
  height: 40px;
  width: auto;
  margin: 5px;
  padding: 10px;
}

.links:hover {
  background: #B3CE2C;
  color: #000;
}

.small-title {
  background: #F2FFAF;
  padding: 20px;
  border-radius: 3px;
  width: 75%;
  text-align: center;
  font-weight: bold;
}

.hidden-el {
  display: none;
}

.revealed-el {
  display: inline-block;
}

#main {
  height: 100vh;
  width: 100%;
}

#header {
  background: #D1EB50;
  height: 60px;
  width: 96%;
  position: absolute;
  top: 0;
  padding: 0 2% 0 2%;
  justify-content: space-between;
}

#body {
  height: 85%;
  width: 100%;
}

#footer {
  background: #222;
  color: white;
  height: 10px;
  width: 98%;
  padding: 1%;
  position: absolute;
  bottom: 0;
}

#loginArea {
  width: 100%;
}

#loginForm {
  flex-direction: column;
  height: auto;
  width: 40%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

#loginForm input {
  margin-top: 10px;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 2px;
  width: 85%;
}

@media (max-width: 600px) {
  .dailyFormsRow {
    flex-direction: column;
  }
}
