* {
    margin: 0;
}

.flex-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

body {
  height: 100%;
}

#header {
  background-color: green;
  height: 10%;
  width: 100%;
}

#main-content {
  height: 85%;
  width: 100%;
}

#footer {
  background-color: black;
  color: white;
  height: 5%;
  width: 100%;
}
